@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
body {
  font-family: 'Lato', sans-serif;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff; }

#root {
  text-align: center; }

section {
  box-shadow: 1px 2px 23px red;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  min-height: 300px;
  min-width: 300px; }

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff; }
  article p {
    margin: 10px 0; }
  article .temp {
    font-size: 30px;
    text-shadow: 1px -1px 7px red; }
  article img {
    width: 50px;
    margin: 0 auto; }
